extends ../layouts/main.pug

include ../blocks/detail/complex/detail-complex.pug

block vars
  - homepage = false;
  - var detail = require('../data/detail-complex.json');
  - var popupsForm = require('../data/popups/form.json');
  - var popupsResponse = require('../data/popups/response.json');

block script
  script.
    window.INIT = {
      detailComplex: !{JSON.stringify(detail)},
      popups: {
        form: !{JSON.stringify(popupsForm)},
        response: !{JSON.stringify(popupsResponse)},
      }
    };

block content
  +detail-complex(detail)
