include ../../core/animation/fade/animation-fade.pug
include ../nav/detail-nav.pug
include ../main/detail-main.pug
include ../characteristics/detail-characteristics.pug
include ../../banner/detail/banner-detail.pug
include ../about/detail-about.pug
include ../choose/detail-choose.pug
include ../infrastructure/detail-infrastructure.pug
include ../map/detail-map.pug
include ../aboutDistrict/detail-aboutDistrict.pug
include ../similar/detail-similar.pug

mixin detail-complex(info)
  .detail.detail--complex
    if (info.main)
      +detail-main(info.main)(ref='main')
    else
      | <!---->
    .detail__content
      if (info.nav)
        +detail-nav(info.nav, 'detail-nav--complex', (info.apartments ? '#detail-choose' : false))(ref='nav')
      else
        | <!---->
      if (info.characteristics)
        +detail-characteristics(info.characteristics)
      else
        | <!---->
      if (info.banner)
        +banner-detail(info.banner)
      else
        | <!---->
      if (info.about)
        +detail-about(info.about)
      else
        | <!---->
      if (info.apartments)
        +detail-choose(info.apartments)
      else
        | <!---->
      if (info.infrastructure)
        +detail-infrastructure(info.infrastructure)
      else
        | <!---->
      if (info.map)
        +detail-map(info.map)
      else
        | <!---->
      if (info.district)
        +detail-aboutDistrict(info.district)
      else
        | <!---->
      if (info.similar)
        +detail-similar(info.similar)
      else
        | <!---->
