$parent: input;

@include block($parent) {
  position: relative;
  width: 100%;
  height: rem(60);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $red3;
    transition: width 0.4s ease;
  }

  @include modifier($parent, 'fail') {
    &::after {
      width: 100%;
    }

    .input__icon--fail {
      display: flex;
    }
  }

  @include modifier($parent, 'success') {
    &::after {
      width: 100%;
      background-color: $green;
    }

    .input__icon--success {
      display: flex;
    }
  }

  @include element ($parent, 'item') {
    width: 100%;
    height: 100%;
    padding: rem(8) rem(38) rem(8) rem(20);
    border: 1px solid $gray;
    background-color: $w;
    font-size: rem(16);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: $black;
    transition: border 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;

    &::placeholder {
      color: $gray2;
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 rem(10) rem(30) rgba(0, 0, 0, 0.15);
    }
  }

  @include element ($parent, 'icon') {
    position: absolute;
    top: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    right: rem(20);
    width: rem(17);
    height: rem(17);
    border-radius: 50%;
    transform: translateY(-50%);
    font-size: rem(12);
    text-align: center;
    color: $w;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-name: fadeIn;

    @include modifier($parent, 'fail') {
      background-color: $red3;
    }

    @include modifier($parent, 'success') {
      background-color: $green;
    }

    svg {
      width: rem(10);
      height: rem(10);
      stroke: $w;
      stroke-width: 2px;
    }
  }
}
