$w: #fff;
$black: #303030;
$black2: #08131f;
$black21: #212121;
$black3: #333;
$black4: #3F3356;
$brown: #a99c9c;
$gray: #e0e0e0;
$gray2: #777;
$gray3: #d5d5d5;
$gray4: #828282;
$gray5: #f4f5f5;
$gray6: #ededed;
$gray7: #484848;
$gray8: #f6f5fa;
$gray9: #fafafa;
$gray-9: #f7f5f9;
$gray-c7: #c7c7c7;
$gray-c2: #c2c2c2;
$gray-f2: #f2f2f2;
$gray-bd: #bdbdbd;
$blue: #719fc1;

$red: #7b2b15;
$red2: #7a1b1b;
$red3: #eb1b1b;
$purple: #c79791;
$purpleDeep: #3f3356;

$green: #6Fcf97;

$m358: 358px;
$m373: 373px;
$m374: 374px;
$m375: 375px;
$mMax: 767px;
$tMin: 768px;
$tMax: 1023px;
$dMin: 1024px;
$d1279: 1279px;
$d1280: 1280px;
$d1421: 1421px;
$d1422: 1422px;
$d1440: 1440px;
$d1619: 1619px;
$d1620: 1620px;
$d1899: 1899px;
$d1900: 1900px;
$d1920: 1920px;

$Lato: "Lato", Helvetica, sans-serif, -apple-system;
$BaronNeue: "BaronNeue", "Lato", sans-serif, -apple-system;

$ease: 0.3s ease;
