mixin header-static(info)
  .header-static
    .header-static__content
      .header-static__item
        img.header__logo-icon(src='/assets/svg/logo_full.svg')
      .header-static__item
        span.header-static__phone!= info.phone
